[importlinter]
root_package = core

[importlinter:contract:siblings]
name = Siblings are acyclic
type = acyclic_siblings
ancestors =
    core
ignore_imports =
    core.a -> core.b

[importlinter:contract:top]
name = Only the top is sliced
type = acyclic_siblings
ancestors =
    core
    core.missing
skip_descendants = true
